:root {
  /* color */
  --purple-color: #5B36AC;
  --charcoalGrey-color: #464052;
  --charcoalGrey-two-color: #363A42;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --coolGrey-color: #A4A6B0;
  --pale-color: #F9F9FB;
  --balck10-color: #000000;

  /* font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 10px;

  /* spacing */
  --spacing: 0.1px;
  --padding: 14px;
  --margin: 8px;
}

@font-face {
  font-family: AppleSDGothicNeoM;
  src: url('font/AppleSDGothicNeoM.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: AppleSDGothicNeo, Semibold;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--purple-color);
  color: var(--white-color);
  font-size: var(--font-large);
  padding: var(--padding);
}

header .left {
  margin-left: var(--margin);
}

header .right {
  margin-right: var(--margin);
}

.content li {
  margin: var(--padding);
}

.content .text_group {
  width: 100%;
  margin-left: var(--padding);
}

.content .title_wrap {
  display: flex;
  justify-content: space-between;
}

.content .title_wrap .nickname {
  font-weight: 700;
}

.content .title_wrap .date {
  font-size: var(--font-small);
  color: var(--coolGrey-color);
}

.content .text_wrap {
  display: flex;
  justify-content: space-between;
}

.content .text_wrap .text {
  font-size: var(--font-medium);
  color: var(--coolGrey-color);
}

.content .text_wrap .count {
  font-size: var(--font-small);
  color: var(--white-color);
  border-radius: 100%;
  background-color: var(--purple-color);
  width: var(--font-large);
  height: var(--font-large);
  text-align: center;
  line-height: var(--font-large);
}

.content .sprite {
  flex-shrink: 0;
}

.sprite {
	background: url('img/css_sprites.png') no-repeat;
	width: 518px;
	height: 518px;
  zoom: .1;
  border-radius: 100%;
}

.img1 {
  background-position: -126px -32px;
  margin: 0 var(--margin);
}

.img2 {
  background-position: -126px -664px;
}

.img3 {
  background-position: -126px -1248px;
}

.img4 {
  background-position: -126px -1812px;
}

.img5 {
  background-position: -126px -2364px;
}

.img6 {
  background-position: -126px -2954px;
}

.img7 {
  background-position: -126px -3522px;
}

.img8 {
  background-position: -126px -4120px;
}

.img9 {
  background-position: -126px -4714px;
}

.img10 {
  background-position: -126px -5312px;
}

.img11 {
  background-position: -126px -5934px;
}

.img12 {
  background-position: -126px -7156px;
}

.img13 {
  background-position: -126px -7758px;
}

.content ul li {
  display: flex;
}

.content ul li .info {

}

.







